.App {
  text-align: center;
  background: linear-gradient(to top, #5d7495, #e2e2e2 );
  font-family: "Palatino Linotype", Palatino, serif;
  background-image: url('./pics/background_copy.jpg');
  background-size: 100%;
  background-attachment: scroll;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font: 60px bold;
  color: #0b2c5b;
  text-shadow:  0 1px 0 #b3b3b3,
                0 2px 0 #a6a6a6,
                0 3px 0 #999999,
                0 4px 0 #8c8c8c,
                0 5px 0 #808080,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
  text-transform: uppercase;
  padding-top: 10px;
}

h1 {
  text-shadow: 0 1px 3px #cccccc;
}

#Options {
  text-transform: uppercase;
  padding-top: 20px;
  font-size: medium;
}

.ScenarioMenu {  
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 0px;
  background: linear-gradient(to bottom right, #5d7495, #e2e2e2 );
  border: 4px ridge #e7e7e7;
  border-radius: 7px;
  margin-top: 20px;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.60);
}

.IndicatorMenu {
  padding-right: 15px;
  padding-bottom: 20px;
  background: linear-gradient(to bottom left, #5d7495, #e2e2e2 );
  border: 4px groove #e7e7e7;
  border-radius: 7px;
  margin-top: 20px;
  text-align: right;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.60);
}

.button {
  color: black;
  background-color: grey;
  border-color: grey;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s; }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
